.form-wrapper {
    position:fixed;
    top: 50%;
    left: 50%;
    // width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
}

.title {
    text-align: center;
    font-size: 1.5rem;
}

.login-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .login-full-width {
    width: 100%;
  }

  .login-buttons {
    text-align: center;
    
  }