<h3 class="text-center mt-4">Angular Socket Test</h3>
<br />
<hr /><br />
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h5 class="text-center">Authentication</h5>
      <br />
      <div class="row">
        <div class="col-8">
          <input type="text" class="form-control" name="base_url" placeholder="Enter API URL (including https://)">
        </div>
        <div class="col-4">
          <button class="btn btn-success btn-sm">Set</button>&nbsp;&nbsp;
          <button class="btn btn-danger btn-sm">Reset</button>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <h5 class="text-center">Login Credentials</h5>
          <input type="text" class="form-control mt-4" name="email" placeholder="Enter Email or Username">
          <input type="password" class="form-control mt-2" name="password" placeholder="Enter Password">
          <div class="text-center mt-4">
            <button class="btn btn-primary btn-small">Login</button>&nbsp;&nbsp;
            <button class="btn btn-warning btn-small">Logout</button>
          </div>
        </div>
      </div>
      <br />
    </div>
    <div class="col-md-6">
      <h5 class="text-center">Test Endpoint</h5>
      <br/>
      <div class="row">
        <div class="col-8">
          <input type="text" class="form-control" name="endpoint" placeholder="Enter Endpoint to Subscribe">
        </div>
        <div class="col-4">
          <button class="btn btn-success btn-sm">Subscribe</button>&nbsp;&nbsp;
          <button class="btn btn-danger btn-sm">Unsubscribe</button>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col">
          <h5 class="text-center">Send Data</h5>
          <div class="row mt-4">
            <div class="col-4">
              <select name="datatype" id="datatype" class="form-control">
                <option value="" disabled selected>Select Datatype ↓ </option>
                <option value="string">String</option>
                <option value="number">Number/Float</option>
                <option value="boolean">Boolean</option>
              </select>
            </div>
            <div class="col-8">
              <input type="text" name="data" placeholder="Enter Data Here" class="form-control">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-4 pt-2">
              Device Details
            </div>
            <div class="col-8">
              <input type="text" name="device_id" placeholder="Enter Device ID" class="form-control">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-4">
              State
            </div>
            <div class="col-8">
              <input type="checkbox" value="true" name="state">
              <label for="state">&nbsp;Endpoint State</label><br>
            </div>
          </div>
          <div class="text-center mt-4">
            <button class="btn btn-info btn-small">Fire Event</button>&nbsp;&nbsp;
            <button class="btn btn-danger btn-small">Clear</button>
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <hr/>
      <div class="text-center"><h6>Transaction Logs</h6></div>
    </div>
  </div>
</div>

<p class="p-footer">MIND WEBS VENTURES</p>